<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Reset Password</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/css/bootstrap.css') }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ url_for('static', filename = 'css/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = 'css/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/css/style-responsive.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

	  <div id="login-page">
	  	<div class="container">
			{% block content %}
				<form class="form-login" action="" method="post">
		        <h2 class="form-login-heading">Reset Password Here</h2>
		        <div class="login-wrap">
		            <input type="text" class="form-control" name ="reset_email" placeholder="Email" autofocus value="{{ request.form.reset_email }}">
		            <br>
		            <label class="checkbox">
		                <span class="pull-right">
		                </span>
		            </label>
		            <button class="btn btn-theme btn-block" type="submit" value="Reset"><i class="fa fa-lock"></i> Reset </button>
		            <hr>
		        </div>
		
		      </form>
			{% endblock %}
	  	</div>
	  </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename = 'js/js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename ='js/js/bootstrap.min.js') }}"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script src="{{ url_for('static', filename = 'js/js/jquery.backstretch.min.js') }}"></script>
    <script>
        $.backstretch("{{ url_for('static', filename = 'css/img/logo_bg.png') }}", {speed: 500});
    </script>


  </body>
</html>

